<div id="color1"></div>
<div id="unilag">
<img src="../../assets/images/UniLagos-removebg-preview.png" alt="Unilag Logo">
</div>
<p id="ea">e-Attendance</p>
<p id="ease">an easy way to track and record attendance</p>
  <div id="border-ting">
    <div class="signin">
      <p id="student">Sign in a Student</p>
  <form id="forms" action="submit">
    <label for="Matric" id="labell">Matric Number:</label><br>
    <input required minlength="8" maxlength="9" type="text" class="credentials" name="fname"><br>
    <label for="Password" class="labell">Password:</label><br>
    <input required type="password" class="credentials" name="lname">

    <button class="sign">
      <a href="sign-in"> Sign in
      </a>
      </button>
  </form>
  <p id="for">
  <a  href="" id="forgot">Forgot password?</a>
  </p>
  <br>

  <div class="lecturer">
    <p id="are">Are you a lecturer?</p>
    <p class="click">
      <a href="lecturer" id="clickr" >Click here</a>
    </p>
  </div>
    </div>
  </div>
  <div id="color2"></div>



