<header>
  <div id="unilag">
    <img src="../../assets/images/UniLagos-removebg-preview.png" alt="Unilag Logo">
    </div>
    <div id="dropdown">
<button id="dd" (click)="iconFunction()"><p>JD</p></button>
<div *ngIf="icon" class="moda">
  <span (click)="modalFunction()" id="x">x</span>
  <div class="modal">
    <div class="user-deets">
      <div class="icn">
        <p>JD</p>
      </div>
      <div class="text">
        <p>
          Jane Doe
        </p>
        <p>
          170805560
        </p>
      </div>
    </div>
    <div class="sign-out">
      Sign out
    </div>
  </div>
</div>
    </div>
</header>
<div class="initials">
  <p id="jd">Welcome Back, Jane Doe</p>
  <p id="lor"> Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do</p>
</div>
<div class="welcome">

</div>
<div class="whole">
<div class="class-cardsA">
  <div class="class-cards">
    <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div>
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
    </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div>
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
    </div>
      <div class="time"></div>
      <button class="set">
        <a href="alert">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div class="time">
        <P> 8:00AM - 10:00AM</P>
        <p>Mon, 29TH April 2021</p>
      </div>
      <div class="time"></div>
      <button class="set">
        <a href="alert">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div class="time">
        <P> 8:00AM - 10:00AM</P>
        <p>Mon, 29TH April 2021</p>
      </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
</div>
<div class="class-cardsB">
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div class="time">
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
    </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div class="time">
        <P> 8:00AM - 10:00AM</P>
        <p>Mon, 29TH April 2021</p>
      </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
  <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div class="time">
        <div class="time">
          <P> 8:00AM - 10:00AM</P>
          <p>Mon, 29TH April 2021</p>
        </div>
      </div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
      <div id="chm">
    <img src="../../../assets/images/Image.png" alt="class image">
  </div>
    <div class="intro">
    <p>CSC 590</p>
    <p>INTRODUCTION TO POWERAPPS</p>
  </div>
    <div class="timestamp">
      <div>
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
    </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
</div>
</div>
