<header>
  <div id="unilag">
    <img src="../../assets/images/UniLagos-removebg-preview.png" alt="Unilag Logo">
    </div>
    <div class="initials">
      <p id="jd">Welcome Back, Jane Doe</p>
      <p id="lor"lorem> Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do</p>
    </div>
</header>
<div class="welcome">

</div>
<div class="whole">
<div class="class-cardsA">
  <div class="class-cards">
    <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <div class="time">
        <P> 8:00AM - 10:00AM</P>
        <p>Mon, 29TH April 2021</p>
      </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <div class="time">
        <P> 8:00AM - 10:00AM</P>
        <p>Mon, 29TH April 2021</p>
      </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
</div>
<div class="class-cardsB">
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <div class="time">
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
    </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <div class="time">
        <P> 8:00AM - 10:00AM</P>
        <p>Mon, 29TH April 2021</p>
      </div>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <div class="time">
        <div class="time">
          <P> 8:00AM - 10:00AM</P>
          <p>Mon, 29TH April 2021</p>
        </div>
      </div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
  <div class="class-cards">
     <img class="jpg" src="../../../assets/images/Image.png" alt="class image">
    <p class="cc">CSC 590</p>
    <p class="cc">INTRODUCTION TO POWERAPPS</p>
    <div class="timestamp">
      <P> 8:00AM - 10:00AM</P>
      <p>Mon, 29TH April 2021</p>
      <div class="time"></div>
      <button class="set">
        <a href="">Sign</a>
      </button>
    </div>
  </div>
</div>
</div>
